node_modules
# openzeppelin-contracts
lib
artifacts
typechain-types
cache
.env
logs
build
dist
temp
service-account-key.json
/generated/prisma

*audit.json
secret-key


.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist